*{
    margin:0;
    padding:0;
}

input {
    box-sizing: border-box;
}

input:focus {
    outline:0;
    box-shadow: 0;
}

.ta-r {
    text-align: right !important;
}

.f-error {
    color: #960b0b;
    font-size: 14px;
    line-height: 16px;
}

.f-error:before {
    content: '*';
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.reset {
    background: #ddd;
    color: #777;
    border: 0;
    padding: 6px;
    margin-top: 5px;
}

.form-block input {
    font-size: 16px;
    width: 70px;
    height:40px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
}

.form-block #name {
    width: 180px;
}

.form-block #name+button {
    height: 40px;
    border-radius: 5px;
    min-width: 60px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #eb4949;
    background: #eb4949;
    color: #fff;
}

.dice.wrap {
    min-width: 320px;
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
}

.dice.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.member-list.wrap {
    /*position: fixed;
    top: 0;
    left: 0;
    bottom:55%;
    right:350px;*/
    position: relative;
}

.member-list.number {
    font-size: 18px;
    font-style: italic;
    color: #262626;
    position: absolute;
    bottom: 100%;
    right: 10px;
}

.member-list.number:before {
    content: '총 ';
    font-size: 16px;
    vertical-align: middle;
}

.member-list.number:after {
    content: '명';
    font-size: 16px;
    vertical-align: middle;
}

.member-list.title {
    font-size: 16px;
    vertical-align: middle;
}

.member-list.body {
    margin: -5px 0 0 -5px;
    padding: 10px;
    /*display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}

.member-list.body:after {
    clear: both;
    display: block;
    content: '';
}

.group.member,
.member-list.member {
    background: #eb4949;
    color: #fff;
    width: 70px;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    float: left;
    margin: 5px 0 0 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: all 150ms;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    box-sizing: border-box;
}

.group.member .name,
.member-list.member input,
.member-list.member .name {
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate(0, -50%);
}

.member-list.member input {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #333;
    color: #333;
    padding: 4px 0;
    width: 100%;
}

.member-list.member.highlight {
    background: #df2525;
    transform: scale(1.4);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 100;
}

.member-list.member .remove {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
    background: #333;
    border-radius: 50%;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    z-index: 100;
}

.member-list.member:hover .remove {
    display: block;
}

.group.item {
    float: left;
    margin: 20px 10px;
    padding: 10px;
    background: #dedede;
    border-radius: 20px;
}

.group.title {
    text-align: center;
    margin-bottom: 10px;
}

.group.member {
    display: block;
    float: none;
    margin: 5px 0 0;
}

.group.item.onegroup .member {
    display: inline-block;
    margin-left: 10px;
}

.group.item.onegroup .member:first-child {
    margin-left: 0;
}

.form-block {
    margin: 0;
}

.start-onlyone,
.start-group,
.start {
    width: 100%;
    height: 40px;
    background: #eb4949;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    margin: 10px 0 0;
    padding: 10px;
}

.tab {
    clear: both;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e73a3a;
}

.is_on {
    background: #e73a3a !important;
}

.is_on:before {
    content: '> ';
}

.is_on:after {
    content: ' <';
}

.nab > [class^=tab] {
    display: none;
}

.dice-select {
    clear: both;
    margin: 20px 0;
}

.dice-select div {
    padding: 4px 0 0 0;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #cfcfcf;
    background: #cfcfcf;
    color: #fff;
}

.ju-add {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
    text-align: left;
}
.ju-list li {
    display: inline-block;
    vertical-align: middle;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.ju-list li:hover:after {
    content: 'x';
    position: absolute;
    top: -10px;
    right: -5px;
    border-radius: 50px;
    background: #333;
    color: #fff;
    width: 22px;
    padding: 2px;
    line-height: 20px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 20;
}
