*{
    margin:0;
    padding:0;
    font-family: apple SD gothic neo, Noto Sans KR, '맑은고딕', 'malgun gothic', '돋움', dotum, sans-serif;
}

body {
    background-image:url('https://www.devicemart.co.kr/skin/goods/large/1158472.jpg');
    background-repeat:no-repeat;
    background-position: right 200px;
}

input {
    box-sizing: border-box;
}

input:focus {
    outline:0;
    box-shadow: 0;
}

.ta-r {
    text-align: right !important;
}

.f-error {
    color: #960b0b;
    font-size: 14px;
    line-height: 16px;
}

.f-error:before {
    content: '*';
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

#frm {
    width: 475px;
    margin: 0 auto;
    position: relative;
}

.reset {
    position: absolute;
    top: 0;
    right: 0;
    background: #ddd;
    color: #777;

    height: 40px;
    border-radius: 5px;
    min-width: 60px;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.form-block input {
    font-size: 16px;
    width: 70px;
    height:40px;
    padding: 5px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px solid #aaa;
    text-align: center;
}

.form-block #name {
    width: 180px;
}

.form-block #name+button {
    height: 40px;
    border-radius: 5px;
    min-width: 60px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #eb4949;
    background: #eb4949;
    color: #fff;
}

.dice.wrap {
    min-width: 320px;
    width: 90%;
    /*max-width: 475px;*/
    margin: 0 auto;
}

.dice.title {
    text-align: center;
    font-size: 38px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #333;
}

.member-list.wrap {
    width: 480px;
    margin: -5px auto 20px;
    position: relative;
}

.member-list.title {
    font-size: 16px;
    vertical-align: middle;
}

.member-list.number {
    font-size: 20px;
    color: #262626;
    position: absolute;
    bottom: 100%;
    right: 0;
}

.member-list.number:before {
    content: '\f183';
    font-size: 20px;
    display: inline-block;
    font-family: FontAwesome;
    vertical-align: baseline;
    margin-right: 4px;
}

.member-list.body {
}

.member-list.body:after {
    clear: both;
    display: block;
    content: '';
}

.group.member,
.member-list.member {
    background: #bfbfbf;
    color: #fff;
    width: 115px;
    height: 62px;
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    float: left;
    margin: 5px 0 0 5px;
    padding: 10px 12px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: all 150ms;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    box-sizing: border-box;
}

.member-list.member:after{
    font-size: 18px;
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    right: 12px;
}

.member-list.member.engineer{
    background: #838383;
}

.member-list.member.engineer:after{
    content: '\f121';
}

.member-list.member.designer{
    background: #57b8c9;
}

.member-list.member.designer:after{
    content: '\f040';
}

.member-list.member.scouter{
    background: #1b508e;
}

.member-list.member.scouter:after{
    content: '\f2b5';
}

.member-list.member.marketer{
    background: #e84747;
}

.member-list.member.marketer:after{
    content: '\f080';
}

.member-list.member.ceo{
    background: #383838;
}

.member-list.member.ceo:after{
    content: '\f27e';
}

.member-list.member.manager{
    background: #f4ab4a;
}

.member-list.member.manager:after{
    content: '\f004';
}

.member-list.member.pr{
    background: #b78ce3;
}

.member-list.member.pr:after{
    content: '\f1ea';
}

.member-list.member.trade {
    background: rgb(29, 119, 235);
}

.member-list.member.trade:after{
    content: '\f21a';
}

.group.member .name,
.member-list.member input,
.member-list.member .name {
    display: block;
}

.member-list.member input {
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #333;
    color: #333;
    padding: 4px 0;
    width: 100%;
}

.member-list.member .team {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: #eee;
}

.member-list.member.highlight {
    transform: scale(1.4);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    z-index: 100;
}

.member-list.body .member-list.member .remove {
    display: none;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
    background: #333;
    border-radius: 50%;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    z-index: 100;
}

.member-list.body .member-list.member:hover .remove {
    display: block;
}

.group.item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: #dedede;
    border-radius: 20px;
}

.group.title {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.group.member {
    display: block;
    float: none;
    margin: 5px 0 0;
}

.group.item.onegroup .member {
    display: inline-block;
    margin-left: 10px;
}

.group.item.onegroup .member:first-child {
    margin-left: 0;
}

.form-block {
    margin: 0;
}

.start-root {
    margin: 10px auto 10px;
    width: 475px;
}
.start-onlyone,
.start-group,
.start {
    width: 100%;
    height: 50px;
    background: #eb4949;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
}

.tab {
    width: 475px;
    clear: both;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e73a3a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.is_on {
    background: #e73a3a !important;
}

.is_on:before {
    content: '> ';
}

.is_on:after {
    content: ' <';
}

.nab > [class^=tab] {
    display: none;
}

.dice-select {
    width: 475px;
    clear: both;
    margin: 20px auto;
    overflow: hidden;
}

.dice-select div {
    width: calc(50% - 5px);
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.btn {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 0;
    background: #bbb;
    color: #fff;
}

.ju-add {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 20px;
    text-align: left;
}
.ju-list li {
    display: inline-block;
    vertical-align: middle;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
}

.ju-list li:hover:after {
    content: 'x';
    position: absolute;
    top: -10px;
    right: -5px;
    border-radius: 50px;
    background: #333;
    color: #fff;
    width: 22px;
    padding: 2px;
    line-height: 20px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 20;
}

.result {
    text-align: center;
}

.clock {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    color: #333;
    font-size: 14px;
    text-align: right;
    letter-spacing: 1px;
}

.time {
    display: block;
    margin-top: 5px;
}

.resultText {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
}
