header {
    border-bottom: 1px solid #555;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
table th:nth-child(1) {
}
table th {
    border: 1px solid #ddd;
    padding: 10px;
}
table td {
    border: 1px solid #ddd;
    padding: 10px;
}

#member_list {
}

#member_list th {
    text-align: center;
}

#member_list th:nth-child(2) {
    width: 200px;
}

#member_list th:nth-child(3) {
    width: 200px;
}

#member_list td:nth-child(3) {
    text-align: center;
}
/* The side navigation menu */
.sidenav {
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #333;
    background: #eee;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.team-color {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
