body {
    background: #eee;
}

.layout-wrap {
    max-width: 1030px;
    margin: 100px auto 0;
    padding: 30px 20px 40px;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .layout-wrap {
        margin: 0;
        padding: 0 10px;
    }
}

.layout-member {
    float: left;
    width: 70%;
}

@media (max-width: 768px) {
    .layout-member {
        float: none;
        width: auto;
    }
}

.layout-controller {
    float: right;
    width: 30%;
    padding-left: 30px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .layout-controller {
        float: none;
        width: auto;
    }
}
